/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px;
  background-color: #D5D8F7;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

.maincontent {
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  background-color: #9A9FC2;
}

.parameterform {
  width: 80%;
  display: inline-block;
  text-align: left;
}

.result {
  width: 80%;
  display: inline-block;
  text-align: left;
  padding-bottom: 20px;
}


.parameterform label {
  display:block;
  clear:both;
}

.resultCountContainer {
  text-align: center;
  border: 1px solid #dfe2e5;
}
